:root {
    --primary-color: #007847;
    --secondary-color: #ce1021;
    --background-color: #f4f4f4;
    --text-color: #222;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

picture img {
    width: 100%;
    height: auto;
}

main {
    padding: 1rem;
}

section {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.weather img {
    width: 50px;
}

h2::after {
    content: " ⛅";
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}
