/* Media Query pour grand écran */
@media screen and (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    picture {
        grid-column: 1 / 3;
    }

    /* Emoji météo après le titre Weather */
    .weather h2::after {
        content: " ⛅";
    }

    .weather-icon {
        display: none;
    }
}
